<head>

<body>
    <h1>Welcome!</h1>

    <%= message %>
        <form action="/login" accept-charset="UTF-8" method="post">
            Username: <input type="text" name='username' /><br>
            Password: <input type="text" name='passwd' /><br>
            <input type="submit" name="commit" value="Submit" />
        </form>
</body>
</head>