<!-- demonstrate how to access images in the public folder-->
<html>
  <head>

  </head>
  <body>
    <h1>Just a few pictures</h1>
    <figure>   
      <img src='LifeconnectTeam.jpg' width="500px">
      <figcaption>LifeConnect team at Atomic Object 2010-2011:  One of the few times I've felt short.</figcaption>
    </figure>
  </body>
</html>