<head>

    <body>
        <h1>Selected User</h1>

        <table>
            <tr>
                <td>Name: </td>
                <td>
                    <%= `${user.fname} ${user.lname}`%>
                </td>
            </tr>
            <tr>
                <td>Name: </td>
                <td>
                    <%= user.email %>
                </td>
            </tr>
        </table>

        <a href="">Select another</a>

    </body>
</head>