<html>

<head>
    <style>
        label {
            display: block;
        }
    </style>
</head>

<body>
    <h1>New Toy</h1>

    <%- include('toyForm') %>

        <a href="/toys ">Back</a>

</html>