.authors {
  border: black 1px solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.author-list, .author-form {
  border: blue 1px solid;
  border-radius: 10px;
  padding: 10px;
}

.author-form {
  max-width: 400px;
  margin-bottom: 15px;
}

.errorMessage {
  display: inline-block;
  border-radius: 10px;
  border: red 1px solid;
  margin: 5px;
  padding: 10px;
}


/*
.author-form label {
  display: inline-block;
  width: 125px;
  margin-right: 5px;
}

.author-form input {
  width: 150px;
  margin-right: 5px;
}



*/